{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <div>
            <h1>My Songs</h1>
            <div class="songs-carousel" id="songs-carousel">
                <div class="song-card">
                    <a id = "link" href="{% url 'song_details' current_song.id %}">
                        <img src="{{ current_song.picture }}" alt="{{ current_song.title }}">
                        <h2>{{ current_song.title }}</h2>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <div class = "previous-button">
                    <form action="{% url 'previous_song' id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'images/previous.png' %}" alt="Previous">
                        </button>
                    </form>
                </div>
                <div class = "next-button">
                    <form action="{% url 'next_song' id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'images/next.png' %}" alt="Next">
                        </button>
                </form>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock content %}
