{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <header>
        <nav>
            <a href = "{% url 'display_song' current_song.id%}">Back to Carousel</a>

        </nav>
    </header>
    <main>
        <div>
            <img src="{{ current_song.picture }}" alt="{{ current_song.title }}">
            <h2>Song: {{ current_song.title }}</h2>
            <h3>Artist: {{ current_song.artist }}</h3>
            <h3>Album: {{ current_song.album }}</h3>
            <h3>Genre: {{ current_song.genre }}</h3>
            <h3>Is Explicit: {{ current_song.is_explicit }}</h3>

        </div>
    </main>
</body>
{% endblock content %}
