<!-- <div class="navigation-buttons">
    <form method="post" action="{% url 'previous_song'%}">
        {% csrf_token %}
        <button type="submit" name="action" value="previous">Previous</button>
    </form>
    <form method="post" action="{% url 'next_song' %}">
        {% csrf_token %}
        <button type="submit" name="action" value="next">Next</button>
    </form>
</div> -->
